@import url("https://fonts.google.com/?sort=alpha");



body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serife;
    font-size: 1.2rem;
    color: rgb(2, 13, 13);
    background: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/* header {
    margin: 0 auto;
    width: 650px;
} */


h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: rgb(1, 1, 4);
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #4245dd;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap : .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

legend {
    padding: 0.5rem;
    color: rgb(1, 8, 4);
    font-size: 1.3rem;
}


label, input, button, select, textarea {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: rgb(42, 165, 159);
    color: #130303cd;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: rgb(20, 2, 2);
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #150303;
    border-top: 1px solid rgba(16, 14, 28, 0.713);
}

.footerall {
    display: flex;
    
}

/*CSS SELECTORS*/

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0 ;
}

/*LOGO*/

.logo {
    opacity:calc(.7);
    width: 200px;
}


/*HEADER Y NAV */
header {
    display: grid;
    grid-template-columns: 200px 1fr ;
}

header nav {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

nav a {
    font-size: 130%;
    text-decoration: none;
}


/*SELCTORES ENPLOYEES*/


.employees {
    display: flex;
    align-items: center;

    
}

figcaption {
    display: block;
    display: flex;
    align-items: center;

}

.employees h2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
 }


 /*FOOTER*/

 /* footer p {
    margin-top: 10px;

 } */

 .copyright {
    font-size: 18px;
 }

 .adventure {
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 .copyright {
    margin-left: 35%;
 }
